@media (min-width: 0px) {
  .soundclound {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .soundclound-player {
    margin: 10px 10px 10px 10px;
    width: 90%;
    height: 90%;
  }
  .visualSoundContainer {
    border-radius: 30px;
  }
  .element.style {
    border-radius: 30px;
  }
  .soundclound-player div iframe {
    border-radius: 10px;
  }
}
@media (min-width: 1200px) {
  .soundclound {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .soundclound-player {
    margin: 10px 10px 10px 10px;
    width: 400px;
    height: 400px;
  }
  .soundclound-player div iframe {
    border-radius: 20px;
  }
}
