@media (min-width: 0px) {
  .player-wrapper {
    width: 85%;
    height: auto;
    margin: 20px auto;
  }
  .react-player {
    border-radius: 10px;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .player-wrapper {
    width: 85%;
    height: auto;
    margin: 30px auto;
  }
  .react-player {
    border-radius: 20px;
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  .player-wrapper {
    width: 80%;
    height: auto;
    margin: 30px auto;
  }
  .react-player {
    border-radius: 30px;
    overflow: hidden;
  }
}

@media (min-width: 1800px) {
  .player-wrapper {
    width: 80%;
    height: auto;
    margin: 30px auto;
    position: relative;
  }
  .react-player {
    border-radius: 40px;
    overflow: hidden;
  }
}
