.banner {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  // background: url("../../assets//home/bg.png");
  // background-repeat: no-repeat;
  // background-position: center center;
  .image {
    min-width: 100vw;
  }
}
