@media (min-width: 0px) {
  .soundclound {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .soundclound-player {
      width: 90vw;
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 5px;
      height: auto;
    }

    .artwork {
      display: none;
    }
  }
}
@media (min-width: 1200px) {
  .soundclound {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .soundclound-player {
      width: 23vw;
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 5px;
      height: auto;
    }

    .artwork {
      display: inherit;
      padding: 10px;
      padding-top: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
}

#breeze {
  background: rgb(51, 57, 62);
  background: -moz-linear-gradient(
    180deg,
    rgba(51, 57, 62, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(51, 57, 62, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(51, 57, 62, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#33393e",endColorstr="#121212",GradientType=1);
}

#sunset {
  background: rgb(188, 79, 100);
  background: -moz-linear-gradient(
    180deg,
    rgba(188, 79, 100, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(188, 79, 100, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(188, 79, 100, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bc4f64",endColorstr="#121212",GradientType=1);
}

#lights {
  background: rgb(192, 116, 66);
  background: -moz-linear-gradient(
    180deg,
    rgba(192, 116, 66, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(192, 116, 66, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(192, 116, 66, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c07442",endColorstr="#121212",GradientType=1);
}

#midnight {
  background: rgb(152, 114, 91);
  background: -moz-linear-gradient(
    180deg,
    rgba(152, 114, 91, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(152, 114, 91, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(152, 114, 91, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#98725b",endColorstr="#121212",GradientType=1);
}

#sky {
  background: rgb(105, 129, 169);
  background: -moz-linear-gradient(
    180deg,
    rgba(105, 129, 169, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(105, 129, 169, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(105, 129, 169, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6981a9",endColorstr="#121212",GradientType=1);
}

#lunar {
  background: rgb(209, 96, 78);
  background: -moz-linear-gradient(
    180deg,
    rgba(209, 96, 78, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(209, 96, 78, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(209, 96, 78, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d1604e",endColorstr="#121212",GradientType=1);
}
